@font-face {
  font-family: 'Sky Text Regular';
  font-weight: normal;
  font-display: swap;
  src: url('./SkyText-Regular.ttf');
}

@font-face {
  font-family: 'Sky Text Bold';
  font-weight: bold;
  font-display: swap;
  src: url('./SkyText-Bold.ttf');
}

@font-face {
  font-family: 'Sky Text Italic';
  font-weight: normal;
  font-display: swap;
  src: url('./SkyText-Italic.ttf');
}

@font-face {
  font-family: 'Sky Text Medium';
  font-weight: 400;
  font-display: swap;
  src: url('./SkyText-Medium.ttf');
}
